@tailwind base;
@tailwind components;
@tailwind utilities;



body,
html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
    /* overflow: hidden; */
    /* To prevent scrolling overflow */
}

* {
    box-sizing: border-box;
}

/* Light theme */
:root {
    --bg-primary: #F2F2F2;
    --bg-secondary: #EAEAEA;
    --text-primary: #0D0D0D;
    --text-secondary: #4F5259;
    --decoration: green;

}

/* Dark theme */
.dark {
    --bg-primary: #121212;
    --bg-secondary: #1F1F1F;
    --decoration: #03DAC5;
    --text-primary: #E1E1E1;
    --text-secondary: #858585;
}

/*? Tamanho máximo da página padrão */
.w-default {
    width: min(1500px, 92%);
    margin: 0 auto;
}


/*!Scroll costumizado */
::-webkit-scrollbar {
    width: 0.2rem;
    heigth: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--decoration);
    border-radius: 1rem;
}

::-webkit-scroll-track {
    background-color: transparent;
}

.overflow-hidden {
    overflow: hidden;
}

.scroll-section-outer {
    overflow: hidden;
}

.scroll-section-inner {
    height: 100vh;
    width: 400vw;
    display: flex;
    flex-direction: row;
    position: relative;
}

.scroll-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-section h3 {
    text-transform: uppercase;
}