@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@400;500;600;700&display=swap');

@layer base {
    body {
        font-family: 'Montserrat', 'Inter', sans-serif;
    }
}

/* Temas */
:root {
    --bg-primary: #fff;
}

.dark {
    --bg-primary: #0E0E10;
}


/*? Tamanho máximo da página padrão */
.w-defaut {
    width: min(1500px, 96%);
}