@tailwind base;
@tailwind components;
@tailwind utilities;



body,
html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
    /* overflow: hidden; */
    /* To prevent scrolling overflow */
}

/* Light theme */
:root {
    --bg-primary: #F2F2F2;
    --bg-secondary: #EAEAEA;
    --text-primary: #0D0D0D;
    --text-secondary: #4F5259;
    --decoration: green;
}

/* Dark theme */
.dark {
    --bg-primary: #121212;
    --bg-secondary: #1F1F1F;
    --decoration: #03DAC5;
    --text-primary: #E1E1E1;
    --text-secondary: #858585;
}

/*? Tamanho máximo da página padrão */
.w-default {
    width: min(1500px, 92%);
    margin: 0 auto;
}


/*!Scroll costumizado */
::-webkit-scrollbar {
    width: 0.2rem;
    heigth: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--decoration);
    border-radius: 1rem;
}

::-webkit-scroll-track {
    background-color: transparent;
}

.overflow-hidden {
    overflow: hidden;
}

.component {
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
    display: flex;
    /* Add this to ensure proper layout */
    align-items: center;
    /* Add this to vertically center the content */
    justify-content: center;
    /* Add this to horizontally center the content */
}

.one {
    background-color: antiquewhite;
}

.two {
    background-color: aqua;
}

.three {
    background-color: aquamarine;
}

.four {
    background-color: chocolate;
}

.five {
    background-color: cyan;
}

#container {
    display: flex;
    width: 500vw;
    margin: 0 auto;
    overflow: hidden;
}